<!DOCTYPE html>
<html ng-app="localStorage" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Local Storage</title>
    <script src="vendor/angular_1.4.6.js"></script>
    <script src="vendor/ngStorage.js"></script>
    <script src="controllers/loginCtrl.js"></script>
</head>
<body ng-controller="loginCtrl">
    <h1>Local Storage</h1>
    <div class="header">
        <div class="username">
            <input type="text" placeholder="Username..." ng-model="username">
        </div>

        <div class="password">
            <input type="password" placeholder="Password..." ng-model="password"/>
        </div>

        <div class="login">
            <button ng-click="login()">Login</button>
        </div>
    </div>

    <p>Hello {{ userGreeting }} {{ load() }}</p>

    <div class="storage">
        <button ng-click="delete()">Delete</button>
    </div>
</body>
</html>